/* Utility Class */
.box {
    float: none;
    width: 100%
}

/* Header Section ............................................................................. */
#nav-menu .logo {
    float:none;
    text-align: center;
}
#nav-menu ul, #nav-menu li {
    float: none;
}
#nav-menu ul {
    padding-bottom: 10px;
}
#nav-menu ul li {
    border-bottom: #444 solid 1px;
}
#nav-menu ul li a {
    padding: 5px;
}
#nav-menu ul li:last-child{
    border-bottom: none;
}
/* Showcase Section ........................................................................... */
#showcase {
    height: 100%;
}
#showcase .container {
    padding-top: 70px
}
/* Home Info Section ......................................................................... */
#home-info .info-image {
    display: none;
}
#home-info .info-image,
#home-info .info-content {
    width: 100%;
    height: 100%;
    float: none;
}
/* About Info Secion .......................................................................... */
#about-info .info-left,
#about-info .info-right {
    float: none;
    width: 100%
}
#about-info .info-right img {
    padding-top: 20px;
}
/* Testimonial Section ........................................................................ */
#testimonials {
    padding-top: 80px;
    padding-bottom: 40px;
}
#testimonials h2 {
    padding-bottom: 30px;
}
/* Contact Info Section ....................................................................... */
#contact-info .box {
    border-bottom: #444 solid 1px;
}

